*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  min-width: 0;
}

:root {
  /* Font Family */
  --font-sans: "Source Sans 3", sans-serif;

  /* colours */
  --color-text: #030303;
  --color-section-border: RGB(198, 198, 198);
  --color-white: rgb(255, 255, 255);
  --color-gray: rgb(79, 91, 102);
  --bg-section: #ededed;
  --post-action-like: #ef4444;
  --post-action-share: #3b82f6;
  --post-action-comment: #22c55e;
}

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-sans);
  line-height: 1.5;
  background-color: var(--color-gray);
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea,
select,
button {
  font: inherit;
}

button {
  background-color: var(--color-white);
  border: none;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  object-fit: cover;
  display: block;
}

/* layout */

.content-feed {
  background-color: var(--bg-section);
}

.width-wrapper {
  width: 375px;
  background-color: var(--bg-section);
}

.header {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: var(--color-section-border) 1px solid;
}

main,
header,
footer {
  background-color: var(--color-white);
}

.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 7px;
}

.post-header {
  margin: 0 10px;
}

.message-div {
  margin: 11px 10px 25px;
}

.post-header:first-of-type {
  margin-top: 0;
}

.name {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 0;
}

.location {
  font-size: 13px;
  margin-top: 0;
}

.post {
  border-radius: 5px;
  background-color: var(--color-white);
}

.post-actions {
  display: flex;
  margin: 10px 0 0 10px;
  justify-content: start;
  padding: 0;
  flex-direction: column;
}

.post-actions-button-div {
  display: flex;
  gap: 10px;
  padding: 0;
  margin-left: -4px;
  border: none;
  justify-content: start;
}

button {
  display: inline-block;
  padding: 0;
  margin: 0;
}

button i {
  margin: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
}

.liked {
  color: var(--post-action-like);
}

.shared {
  color: var(--post-action-share);
}

.commented {
  color: var(--post-action-comment);
}

.like-count {
  padding: 0;
  font-weight: bold;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 0;
}

.message-div {
  padding-bottom: 5px;
  margin-top: 0;
}

.username,
.comment {
  font-size: 13px;
}

.username {
  font-weight: 700;
}

/* images */

.logo {
  width: 127px;
  margin-left: 15px;
  padding: 4px 0;
}

.profile-pic {
  width: 34px;
  border-radius: 50%;
  margin-right: 17px;
}

.avatar {
  width: 34px;
  border-radius: 50%;
}
